#header {
    background-color: gray;
    color: white;
    text-align: center;
}


.userTable {
    flex-grow: 1;
    overflow-y: auto;
}

.hobbyTable {
    flex-grow: 2;
    overflow-y: auto;
}

.table-div {
    height: 20rem;
}
table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    width: 100%;
}

td {
    padding: 0.25rem;
    margin: 1px;
    border: 1px solid gray;
}

.clickable {
    cursor: pointer;
}

.selected {
    background-color: #8080804f;
}

.not-selected {
    background-color: white;
}

.no-data {
    height: 10rem;
    background-color: #8080804f;
}